<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMS-Service</title>
    <link rel="icon" href="img/icon_hospital.png">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script>
    function valform(){
        var newPass = document.forms["regisForm"]["passRegis"].value;
        var conNewPass = document.forms["regisForm"]["confirmPassRegis"].value;
        if(newPass == conNewPass){
        return confirm('Do you really want to registation?');
        }else {
        alert("Password Not Match !");
        return false;
        }
    }
  </script>
</head>
<body>
    
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#login">Log In</a></li>
            <li class="tab"><a href="#signup">Sign Up</a></li>
        </ul>
        <div class="tab-content">
            <div id="login">
                <h1>Welcome to SMS-Service</h1>

                
                    {{# if loginCheck}}
                        <div class="alert alert-danger" role="alert">
                            <center>Username or password wrong !!!</center>
                        </div>
                    {{/if}}

                    {{# if regisComplete}}
                        <div class="alert alert-success" role="alert">
                            <center>Register complete !!!</center>
                        </div>
                    {{/if}}
                

                <form action="/loginCheck" method="post">
                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" name="uname" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" name="pass" required autocomplete="off" />
                    </div>
                    <!-- <p class="forgot"><a href="#">Forgot Password?</a></p> -->
                    <button class="button button-block" />Log In</button>
                </form>
            </div>
            <div id="signup">
                <h1>Sign Up to SMS-Service</h1>
                <form action="/regisToDB" method="post" name="regisForm" 
                {{!-- onsubmit="return confirm('Do you really want to registation?');" --}}
                onsubmit="return valform()"
                >
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>First Name<span class="req">*</span></label>
                            <input type="text" name="fnameRegis" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <label>Last Name<span class="req">*</span></label>
                            <input type="text" name="lnameRegis" required autocomplete="off" />
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>Email Address<span class="req">*</span></label>
                        <input type="email" name="emailRegis" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>Set A Password<span class="req">*</span></label>
                        <input type="password" name="passRegis" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>Confirm A Password<span class="req">*</span></label>
                        <input type="password" name="confirmPassRegis" required autocomplete="off" />
                    </div>
                    <button type="submit" class="button button-block"/>Registation</button>
                </form>
            </div>
        </div>
        <!-- tab-content -->

    </div>

    {{> addJS}}
    <footer style="position: fixed; bottom: 0px; width: 100%; height: 40px; background-color: rgba(19, 35, 47, 0.9);">
        <center>
            <font color="#1ab188">
                Developed by Suphachok Noopan 5730211009 - Copyright &copy; {{getCurrentYear}} 
                <br> Information Technology, Faculty of Technology and Environment, Prince of Songkla University, Phuket Campus
            </font>
        </center>
    </footer>
</body>
</html>